/*==========================================================================
	Page Layout
  =========================================================================*/
  
header, section, footer, blockquote{
	/*border: 1px solid #333;*/
	max-width: 980px;
	margin: 2.040816% auto;/* 20px/980px */
	padding: 0 2.040816%;/* 20px/980px */
	overflow: hidden;
}

#header-wrapper, #footer-wrapper{
	background-color: #151515;
	color: #606060;
	overflow: hidden;
}

#header-wrapper h1{
	font-size: 1.250em;
	margin: 0;
	padding: 0;
	text-indent: -99000px;
}

header{
	margin-top: 0;
}

body{
	background-image: url(../images/bg_texture.jpg);
	color: #ddd;
	font: 400 1em/1.5em "Droid sans", sans-serif;
}

#home #wrapper{
	background: url(../images/cta_bg.png) center top no-repeat;
}

#events #wrapper{
	background: url(../images/events_bg.png) center top no-repeat;
}

#contact #wrapper{
	background: url(../images/contact_bg.png) center top no-repeat;
}

  /*==========================================================================
  	Headings and Typography
    =========================================================================*/
h1, h2, h3, h4{
	color: #ee3591;
	font: 300 2.250em/1.250em oswald, sans-serif;
	margin: 1.020408% 0;
	padding: 1.020408% 0;
}

p{
	padding: 2.040816% 0;
}

a {
	color: #f4d64a;
	font: 300 1.375em/1.5em oswald, sans-serif;
	outline:0 none !important;
	text-decoration: none;
}    

.title{
	color: #fff;
	font: 300 3.000em/1.250em oswald, sans-serif;
	padding: 0 10.204082%;
	text-align: center;
}

#main h1{
	color: #fff;
	font: 300 3.000em/1.250em oswald, sans-serif;
}

blockquote p {
	color: #fff;
	text-align: center;
	font: italic 300 1.250em/1.250em "Droid sans", sans-serif;
}

.cta h1{
	color: #ee3591;
	font: 300 1.750em/1.2em oswald, sans-serif;
}

/*==========================================================================
   Navigation
  =========================================================================*/
  
body#home a#homenav,body#about a#aboutnav,body#events a#eventsnav,
body#pricing a#pricingnav,body#contact a#contactnav,body#faqs a#faqsnav{
	color: #0bbff0;
}
      
ul {
	list-style-type: none;
	overflow: hidden;
}

nav {
	float: right;
}

nav li {
	float: left;
	margin-top: 45px;
}

nav li:nth-last-child(1n+2){
	padding-right: 3em;
}

nav li a{
	color: #ddd;
	font-size: 1.50em;
}

nav li a:hover{
	color: #fff;
}

nav li a:active{
	position: relative;
	top: 2px;
}

/*==========================================================================
   Images
  =========================================================================*/

img{
	float: left;
	max-width: 100%;
	height: auto;
}

img[alt*="icon"]{
	padding: 0 6.134969% 0 0; /* 20px/326px*/
	max-width: 25%;
}

#event-type img{
	border: 3px solid #404040;
}
    
/*==========================================================================
	Buttons and Links
  =========================================================================*/

a.button{
	font: 300 1.500em/1.250em oswald, sans-serif;
	margin-top: 2.04082%;
	text-align: center;
	
}

.button, button{
	display: block;
	border-top: 1px solid #0aaad6;
	background-color:#0bbff0;
	background: -webkit-gradient(linear, left top, left bottom, from(#0bbff0), to(#09a2cb));
	background: -webkit-linear-gradient(top, #0bbff0, #09a2cb);
	background: -moz-linear-gradient(top, #0bbff0, #09a2cb);
	background: -ms-linear-gradient(top, #0bbff0, #09a2cb);
	background: -o-linear-gradient(top, #0bbff0, #09a2cb);
	padding: 2.040816%;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	max-width: 300px;
}

.button:hover, button:hover {
   background: -webkit-gradient(linear, left top, left bottom, from(#09a2cb), to(#0bbff0));
   background: -webkit-linear-gradient(top, #09a2cb, #0bbff0);
   background: -moz-linear-gradient(top, #09a2cb, #0bbff0);
   background: -ms-linear-gradient(top, #09a2cb, #0bbff0);
   background: -o-linear-gradient(top, #09a2cb, #0bbff0);
}
   
.button:active, button:active {
   background: #09a2cb;
}

 /*==========================================================================
   	Forms
   =========================================================================*/
  
#forms{
   	background-color: #151515;
   	padding: 2.040816%;
   	margin-bottom: 2.040816%;
   	opacity: 0.85;
   	overflow: hidden;
}
   
#forms ul li{
	margin-right: 2.040816%; /* 20px/980px */
}
   
#forms ul li:nth-child(1n){
	float: left;
}
   
label{
   	padding-left: 5px;
}
   
select{
	min-height: 60px;
	margin: 5px 0 23px;
	padding-top: 10px;
}
   
input, button, select{
   	display: block;
   	width: 291px;
   	height: 35px;
}
   
input{
   	color: #ddd;
   	font: 300 .875em/1.250em "Droid sans", sans-serif;
   	border: none;
   	border-top: 2px solid #000;
   	border-left: 2px solid #000;
   	box-shadow: 1px 2px 0 #2f2f2f;
   	-moz-border-radius: 5px;
   	-webkit-border-radius: 5px;
   	border-radius: 5px;
   	background-color: #151515;
   	margin: 5px 0 20px;
}
   
 input[type="button"]{
   	font: 300 1.500em/1.250em oswald, sans-serif;
   	margin-top: 1.020408%;
   	height: auto;
}

/*==========================================================================
	Page Styles
  =========================================================================*/
  
section#welcome, section#event-type, section#questions{
	background-color: #151515;
	padding: 2.040816%;
	opacity: 0.75;
}

/*======Home======*/

#sub-cta{
	background-color: #151515;
	overflow: hidden;
}

.cta{
	/*border: 1px solid #333;*/
	float: left;
	padding: 2.040816%; /* 20px/980px */
	width: 29.251701%; /* 286.666667px/980px */
}

/*======Events======*/

#event-type p, #event-type ul {
	padding-left: 33.333333%;
	padding-top: 2.040816%;
}

#event-types > ul{
	padding-left: 33.333333%;
}
.bevel h2, .bevel h3, .bevel h4, .bevel li{
	float: left;
	/*margin: 0;*/
	padding: 0 2.040816%;
}

/*======Pricing======*/

#standard, #premium, #ultimate{
	background-color: #151515;
	float: left;
	padding: 2.040816%; /* 20px/980px */
	margin: 2.040816%; 
	width: 25.170068%; /* 286.666667px/980px */
}

#event-pricing a.button{
	display: block;
}

#event-pricing ul li, #event-pricing h2, #event-pricing p{
	text-align: center;
}

#event-pricing ul{
	height: 350px;
}

/*======Contact======*/

section#forms{
	margin-top: 0;
}

ul li#active-tab{
	position: relative;
	margin-left: 0;
}

/*#tabs, #tabs ul li, #tabs ul li a {
	margin-bottom: 0;
}*/

#tabs ul li{
	float: left;
	/*margin-right: 4.081632%; /* 20px/980px *!/*/
}

#active-tab a{
	color: #ee3591;
}

#active-tab{
	background-color: #151515;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0;
	padding: 2.040816% 4.081632%;
	opacity: 0.85;
}

/*======FAQ's======*/

#questions h2{
	font: 300 1.375em/1.5em oswald, sans-serif;
	padding: 2.040816% 0 0 0;
}

#requests a, #equipment a, #set-up a, #locations a,
#requirements a, #payments a{
	font: 300 0.75em/1em "Droid sans", sans-serif;
	margin: 0;
	padding: 0 0 0 2.040816%;
}

/*==========================================================================
	Footer
  =========================================================================*/

#footer-wrapper{
	clear: both;
}

footer p{
	font: 400 0.813em/1.5em "Droid sans", sans-serif;
}

/*==========================================================================
	Media Queries
  =========================================================================*/
  
/*======iPad Landscape======
  
  @media screen and (min-width: 768px) and (max-width: 1024px){
  
  img[alt*="logo"]{
  display: block;
  }
  
  nav ul{
  	float: left;
  	clear: left;
  }
  
  
}
  
  ======iPad Portrait======
  
  @media screen and (min-width: 481px) and (max-width: 768px){
  
  	.cta{
  		width: 46.395833%;
  	}
  
  	.cta:nth-child(3n){
  		border-top: 1px #303030 outset;
  		clear: both;
  		width: 100%;
  	}
  
	img[alt*="icon"]{
		max-width: 25%;
	}
}
  
  ======iPhone======
  
  @media screen and (max-width: 480px){
  
	img, .bevel, .cta, #forms li, #forms li a,
	.column-1, .column-2, .column-3{
		float: none;
  	}
  
  	#event-types p, #event-types>ul{
  		padding-left: 0;
  	}
  
  
}*/

  
  
  
  
  
  
  
  
