/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*==========================================================================
	Structure and Layout
  =========================================================================*/
  
header, section, footer, blockquote{
	max-width: 980px;
	margin: 0 auto;
}

#header-wrapper, #footer-wrapper{
	background-color: #151515;
	color: #606060;
	overflow: hidden;
}

#header-wrapper h1{
	font-size: 1.250em;
	margin: 0;
	padding: 0;
	text-indent: -99000px;
}

#main{
	margin: 6.122449% auto;
}

#sub-cta{
	background-color: #151515;
	margin-top: 2.040816%;
	margin-bottom: 2.040816%;
	overflow: hidden;
}

.cta{
	float: left;
	padding: 0.680272%;
	width: 31.972789%; /* 326px/980px */
}

.cta a{
	float: right;
}
   
  /*==========================================================================
  	Global Styles
    =========================================================================*/
    
body#home a#homenav,body#about a#aboutnav,body#events a#eventsnav,
body#pricing a#pricingnav,body#contact a#contactnav,body#faqs a#faqsnav{
	color: #0bbff0;
}
    
body{
	background-image: url(../images/bg_texture.jpg);
	color: #ddd;
	font: 400 1em/1.5em "Droid sans", sans-serif;
}

h1, h2, h3, h4{
	color: #ee3591;
	font: 300 2.250em/1.250em oswald, sans-serif;
	margin: 1.020408% 0;
	padding: 1.020408% 0;
}

p, ul{
	padding: 2.040816% 0;
}
    
a {
	color: #f4d64a;
	font: 300 1.375em/1.5em oswald, sans-serif;
	outline:0 none !important;
	text-decoration: none;
}

img{
	max-width: 100%;
}

img[alt*="logo"]{
	float: left;
	padding-bottom: 1.250em;
	max-width: 300px;
}
    
    /*==========================================================================
    	Navigation
      =========================================================================*/
      
ul {
	list-style-type: none;
	overflow: hidden;
}

nav li {
	float: left;
	margin-top: 45px;
}

nav li a{
	color: #ddd;
	font: 400 1.25em/1.5em oswald, sans-serif;
}

nav li a:hover{
	color: #fff;
}

nav li a:active{
	position: relative;
	top: 2px;
}

header nav ul{
	float: right;
}

nav li:nth-last-child(1n+2){
	padding-right: 2.813em;
}

/*==========================================================================
	Buttons
  =========================================================================*/

a.button{
	font: 300 1.500em/1.250em oswald, sans-serif;
	margin-top: 2.04082%;
}

.button, button{
	display: inline-block;
	border-top: 1px solid #0aaad6;
	background-color:#0bbff0;
	background: -webkit-gradient(linear, left top, left bottom, from(#0bbff0), to(#09a2cb));
	background: -webkit-linear-gradient(top, #0bbff0, #09a2cb);
	background: -moz-linear-gradient(top, #0bbff0, #09a2cb);
	background: -ms-linear-gradient(top, #0bbff0, #09a2cb);
	background: -o-linear-gradient(top, #0bbff0, #09a2cb);
	padding:0.417em;
	color:#fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
}

.button:hover, button:hover {
   background: -webkit-gradient(linear, left top, left bottom, from(#09a2cb), to(#0bbff0));
   background: -webkit-linear-gradient(top, #09a2cb, #0bbff0);
   background: -moz-linear-gradient(top, #09a2cb, #0bbff0);
   background: -ms-linear-gradient(top, #09a2cb, #0bbff0);
   background: -o-linear-gradient(top, #09a2cb, #0bbff0);
   }
   
.button:active, button:active {
   background: #09a2cb;
   }

/*==========================================================================
	Home Styles
  =========================================================================*/

#main h1{
	color: #fff;
	font: 300 3.000em/1.250em oswald, sans-serif;
	max-width: 75%;
	padding: 0;
}

p > a{
	margin: 2.050816%;
}

.cta h1{
	color: #ee3591;
	font: 300 1.750em/1.2em oswald, sans-serif;
	padding: 1.250em 1.250em 1.250em 0;
}

.cta p{
	clear: left;
}

img[alt*="icon"]{
	float: left;
	padding: 1.250em 1.250em 1.250em 0;
}

/*==========================================================================
	About Us Styles
  =========================================================================*/

#welcome{
	background-color: #151515;
	padding: 2.040816%;
	margin: 2.040816% auto;
}

/*==========================================================================
	Events Styles
  =========================================================================*/
blockquote{
	max-width: 75%;
}

blockquote h1{
	color: #fff;
	font: 300 3.000em/1.250em oswald, sans-serif;
	text-align: center;
}

blockquote p {
	color: #fff;
	text-align: center;
	font: italic 300 1.250em/1.250em "Droid sans", sans-serif;
}

#event-types{
	background-color: #151515;
	padding: 2.040816%;
	margin: 2.040816% auto;
}

#event-types img{
	border: 3px solid #404040;
	float: left;
}

#event-types p {
	padding-left: 33.333333%;
}

#event-types > ul{
	padding-left: 33.333333%;
}

.bevel h2, .bevel h3, .bevel h4, .bevel li{
	float: left;
	margin: 0;
	padding: 0 2.813em 0 2.040816%;
}


/*==========================================================================
	Pricing Styles
  =========================================================================*/
  
  
/*==========================================================================
  	Contact Us Styles
  =========================================================================*/

#forms li, #forms li a{
	float: left;
	padding: 1.530612%;
	margin: 0;
}

#forms ul{
	margin: 0;
	padding: 0;
}

#active-tab a{
	color: #ee3591;
}

#active-tab{
	background-color: #151515;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0;
}

form{
	background-color: #151515;
	padding: 2.040816%;
	margin-bottom: 2.040816%;
	overflow: hidden;
}

label{
	padding-left: 5px;
}

input, button, select{
	display: block;
	width: 300px;
	height: 35px;
}

select{
	margin: 5px 0 23px;
	padding-top: 10px;
}

input{
	color: #ddd;
	font: 300 .875em/1.250em "Droid sans", sans-serif;
	border: none;
	border-top: 2px solid #000;
	border-left: 2px solid #000;
	box-shadow: 1px 2px 0 #2f2f2f;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #151515;
	margin: 5px 0 20px;
}

input[type="button"]{
	font: 300 1.500em/1.250em oswald, sans-serif;
	margin-top: 1.020408%;
	height: auto;
}

.column-1, .column-2{
	float: left;
	margin-right: 1.530612%;
}

.column-3{
	float: left;
}

/*==========================================================================
	FAQ Styles
  =========================================================================*/

#questions{
	background-color: #151515;
	padding: 2.040816%;
	margin: 2.040816% auto;
}

#questions h2{
	font: 300 1.375em/1.5em oswald, sans-serif;
	margin: 0;
	padding: 2.040816% 0 0 0;
}

#requests a, #equipment a, #set-up a, #locations a,
#requirements a, #payments a{
	font: 300 0.75em/1em "Droid sans", sans-serif;
	margin: 0;
	padding: 0 0 0 2.040816%;
}

/*==========================================================================
	Footer
  =========================================================================*/

#footer-wrapper{
	clear: both;
}

footer p{
	font: 400 0.813em/1.5em "Droid sans", sans-serif;
	padding: 1.188em;
}
